/* Overlay to cover the entire viewport with a semi-transparent background */
.float-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* Popup container styling */
.float {
    z-index: 100;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.stack-float {
    z-index: 100;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Draggable header area */
.float-header {
    cursor: grab; /* Indicates that the element is draggable */
    background: darkslategray;
    padding: 7px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.stack-float-header {
    cursor: grab; /* Indicates that the element is draggable */
    background: darkslategray;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* Content area of the popup */
.float-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: scroll;
    /* background-color: rgba(255,255,255,0.3); */
}


.tape-contents-and-resize {
    width: 100%;
}

.tape-contents {
    width: 1330px;
}

.tape-cell {
    background-color: transparent;
    text-align: center;
    width: 35px;
    float: left;
    position: relative;
}

.tape-cell-data {
    background-color: white;
    height: 45px;
    border-top: solid gray 2px;
    border-right: solid gray 2px;
    border-bottom: solid gray 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 2em;
    user-select: none;
    margin: 0;
}

.stack-cell-data {
    background-color: white;
    height: 42px;
    width: 38px;
    border-right: solid gray 2px;
    border-left: solid gray 2px;
    border-bottom: solid gray 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 2em;
    user-select: none;
}

.tape-cell-data-left {
    border-left: solid gray 2px;
}

/* .tape-cell-data */
.active {
    background-color: black;
    color: white;
}

.tape-cell-top {
    height: 10px;
    width: 32px;
    border-radius: 10px;
    display: inline-block;
    background-color: initial;
}

.tape-cell-top.active {
    background-color: black;
}

.tape-contents-window {
    /* width: 720px; */
    overflow: scroll;
}

.tape-resize-box {
    cursor: grab; /* Indicates that the element is draggable */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background-color: gray;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.stack-resize-box {
    cursor: grab; /* Indicates that the element is draggable */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: gray;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tape-stack-text-edit {
    background-color:white;
    font-size: 2em;
    outline: none;
}

.tape-cell-entry {
    background-color:white;
    font-size: 2em;
    outline: none;
    height: 45px;
    border-top: solid gray 2px;
    border-right: solid gray 2px;
    border-bottom: solid gray 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 2em;
    user-select: none;
    margin: 0;
}

.tape-cell-entry {
    background-color: black;
    color: white;
}
